@model ListViewModel<Album>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewData["Groups"] as IEnumerable<AlbumCategory>;
    int currentGroup = (int)ViewData["CurrentGroup"];
    var text = currentGroup != 0
                                ? categories
                                  .FirstOrDefault(g => g.Id == currentGroup)
                                  .CategoryName
                                : "Все";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div class="scaffold">
    <div class="row mt-5">
        <div class="col-2" style="text-align: center;">
               <div class="dropdown-2 mt-2">
                    <a class="btn btn-outline-info dropdown-toggle"
                        asp-action="Index" asp-controller="Product"
                        role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        @text
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @foreach (var item in categories)
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Product"
                            asp-route-group="@item.Id" asp-route-pageNo="1">
                                @item.CategoryName
                            </a>   
                        }
                    </div>
                </div>

        </div>
        <div class="col-10">
            <div class="row" id="list">
                @foreach (var item in Model)
                {
                    <partial name="_ListItemPartial" model="@item"/>
                }
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-2" style="text-align: center;">
       <pager page-current="@Model.CurrentPage"
            page-total="@Model.TotalPages"
            action="Index"
            controller="Product"
            group-id="@currentGroup">
       </pager> 
    </div>
    <div class="col-10"></div>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>

    <script>
        $(document).ready(function () {
            $(".page-link").click(function (e) {
                e.preventDefault();
                
                var uri = this.attributes["href"].value;
                $("#list").load(uri);
                $(".active").removeClass("active disabled");
                $(this).parent().addClass("active");
                history.pushState(null, null, uri);
            });
        });
    </script>
}